@font-face {
    font-family: Architects_Daughter;
    src: url('../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf');
}
@font-face {
    font-family: bitter;
    src: url('../fonts/Bitter/Bitter-VariableFont_wght.ttf');
}
@font-face {
    font-family: Indie_flower;
    src: url('../fonts/Indie_Flower/IndieFlower-Regular.ttf');
}
@font-face {
    font-family: montserrat;
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
html {
    scroll-behavior: smooth;
    font-family: montserrat;
}
body {
    margin:0;
    text-align: center;
    background: linear-gradient(to top, #0078d4, rgb(131, 194, 253));
}
header {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    border-bottom: 1px solid black;
    z-index: 2;
}
.ici {
    background-color: rgb(50, 156, 255);
    transform: scale(1.2);
}
.bandeau-nav nav a.ici {
    color: white;
}
.bandeau-nav nav a.ici:hover {
    color: white;
    background-color: rgb(50, 156, 255);
}
.bandeau-nav a {
    transition-duration:0.3s;
    text-decoration: none;
    padding: 5px;
    border: solid;
    border-color: #0077D5;
    color: rgb(104, 104, 104);
    border-radius: 10px 10px 10px 10px;
    border-width: 2px;
    
}
.bandeau-nav a:hover {
    transition-duration:0.3s;
    border-color: #0077D5;
    color: #0077D5;
    background-color: rgba(180, 180, 180, 0.5);
    transform: scale(1.2);
}
nav{
    width: 75%;
    justify-content: space-between;
    display: inline-flex;
}
.fa-arrow-up {
    color: #0077D5;
    position: fixed;
    font-size: 40px;
    bottom: 20px;
    right: 20px;
    border-radius: 40px 40px 40px 40px;
    padding: 5px;
    background-color: rgba(180, 180, 180, 0.5);
    transition-duration: 0.4s;
}
.fa-arrow-up:hover {
    transform: translate(0%, -10px);
    color: black;
    transition-duration: 0.4s;
}
footer {
    background-color: whitesmoke;
    border-top: 1px solid black;
    padding-bottom:20px;
    height: fit-content;
    text-align: center;
}
.bottom-page{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.bottom-page div{
    margin-top: 20px;
}
.bottom-page a, p{
    text-decoration: none;
    color: black;
    font-family: bitter;
    font-size: 17px;
}
.bottom-page a:hover {
    text-decoration: underline;
}
.fa-external-link-alt {
    margin-right: 10px;
    background: -webkit-linear-gradient(rgb(18, 148, 255), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo {
    width: 50%;
    margin-top: 100px;
    padding: 10px;
    animation: respiration 3s linear infinite;
    border-bottom: 2px solid white;
}
.copyright a{
    color: #0077D5;
}
@keyframes respiration {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.0);
    }
}
p{
    font-size: 17px;
    font-family: bitter;
}
.equilibre {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#title{
    margin-top: 50px;
    font-size: 40px;
    list-style-type: circle;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#title2{
    margin-top: 50px;
    font-size: 40px;
    list-style-type: circle;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#title3{
    margin-top: 50px;
    font-size: 40px;
    list-style-type: circle;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.equilibre img {
    width: 75%;
    text-align: center;
    border: 2px solid #F1F1F1;
    border-radius: 10px 10px 10px 10px;
    transition-duration: 0.3s;
}
.equilibre img:hover {
    width: 90%;
    transition-duration: 0.3s;
}
.equilibre h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    background: linear-gradient(to bottom,#ffffff, #00ffff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.fa-sliders { 
    color: #1a1a1a;
    position: fixed;
    font-size: 30px;
    margin-top: 20px;
    right: 20px;
    border-radius: 40px 40px 40px 40px;
    padding: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.fa-sliders:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.fa-circle-half-stroke{
    color: #1a1a1a;
    position: fixed;
    font-size: 30px;
    margin-top: 20px;
    right: 20px;
    border-radius: 40px 40px 40px 40px;
    padding: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.fa-circle-half-stroke:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.fa-font{
    color: #1a1a1a;
    position: fixed;
    font-size: 30px;
    margin-top: 60px;
    right: 20px;
    border-radius: 40px 40px 40px 40px;
    padding: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.fa-font:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
}
#menu { 
    position: fixed;
    margin-top: 40px;
    right: 20px;
    width: fit-content;
    height: fit-content;
    list-style-type:none;
    height: fit-content;
    display: none;
}   

#help_checks{
    animation: respiration 2s linear infinite
}
#help_checks:hover{
    cursor: pointer;
}

#getwindows11{
    text-decoration: underline;
    color: #000;
}
